body {
    background-color: rgb(210, 189, 228);
    overflow: hidden;
}
.container {
    max-width: 100vh;
    /* height: 50vh; */
    margin: 30vh auto ;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* opacity: 0.5; */
    border-color: black;
    /* border-width: 10dvb; */
    /* background-color: red; */
    
}
.start-quiz-button{
    padding: 1vh;
    margin-top: 10vh;
    border-radius: 8px;
    background-color: rgb(165, 141, 186);
    border-color: black;
  
}
.QuestionContainer{
    background-color: white;
     max-width: 100vh;
    /* height: 50vh; */
    margin: 30vh auto ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* opacity: 0.5; */
    border-color: black;
    /* border-width: 10dvb; */
    
}
.titleQuestionTotal{
    color:rgb(103, 77, 127)
}
.questionX{
 font-weight: bold;


}
.repence{
    /* background-color: red; */
 display: flex;
 flex-direction: column;
 text-align: center;
}
.NextButtonEtnbrQustion{
    display: flex;
    justify-content: space-between;
}
.NextButton{
    background-color: rgb(103, 77, 127);
    width: 10vh;
    height: 5vh;
    border-radius: 10px;
    margin-top: 2vh;
    color: white;
}
.QuestionEtTime{
    /* background-color: red; */
    display: flex;

}
.time{
    width: 80%;
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
}
.answers label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  padding: 10px 15px;
  border: 2px solid #C447AF;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  background-color: #FBF4FA;
}

.answers label:hover {
  background-color: #E192D4;
  color: white;
}

/* cacher la checkbox par défaut */
.answers input[type="checkbox"] {
  display: none;
}

/* style quand elle est cochée */
.answers input[type="checkbox"]:checked + span {
  background-color: #C447AF;
  color: white;
  border-color: #C447AF;
  box-shadow: 0px 4px 8px rgba(196, 71, 175, 0.4);
}

/* styliser le texte comme bouton */
.answers label span {
  flex: 1;
  padding: 6px 0;
  transition: 0.3s;
}
