body {
    background-color: rgb(210, 189, 228);
}
.container {
    max-width: 100vh;
    /* height: 50vh; */
    margin: 30vh auto ;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* opacity: 0.5; */
    border-color: black;
    /* border-width: 10dvb; */
    
}
.start-quiz-button{
    padding: 1vh;
    margin-top: 10vh;
    border-radius: 8px;
    background-color: rgb(165, 141, 186);
    border-color: black;
  
}
.QuestionContainer{
    background-color: white;
     max-width: 100vh;
    /* height: 50vh; */
    margin: 30vh auto ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* opacity: 0.5; */
    border-color: black;
    /* border-width: 10dvb; */
    
}
.titleQuestionTotal{
    color:rgb(103, 77, 127)
}
.questionX{
 font-weight: bold;


}
.repence{
    /* background-color: red; */
 display: flex;
 flex-direction: column;
 text-align: center;
}
.NextButtonEtnbrQustion{
    display: flex;
    justify-content: space-between;
}
.NextButton{
    background-color: rgb(103, 77, 127);
    width: 10vh;
    height: 5vh;
    border-radius: 10px;
    margin-top: 2vh;
    color: white;
}
.QuestionEtTime{
    /* background-color: red; */
    display: flex;

}
.time{
    width: 80%;
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
}